@model ProjetoNetCoreWebMVC.Models.ViewModels.SellerFormViewModel
@using ProjetoNetCoreWebMVC.Models

@{
    ViewData["Title"] = "Create";
}

@*<h2>@ViewData["Title"]</h2>*@


@*<div id="modal" class="modal-dialog" role="dialog">*@
<div id="add-seller" class="modal-dialog" role="dialog">
    <div class="modal-content">
        @*@using (Html.BeginForm("Create", "Sellers", FormMethod.Post, new { id = "formCreate" }))*@
        @*@using (Html.BeginForm())*@
        @using (Html.BeginForm("Create", "Sellers", FormMethod.Post))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Create New Seller</h4>
            </div>
            @*<form asp-action="Create" asp-controller="Sellers">*@
            <form id="frmCreate" asp-action="Create">

                <!--ação Create com método POST-->
                <div asp-validation-summary="All" class="text-danger"></div>
                @*<input type="hidden" asp-for="Seller.Id" />*@
                @Html.AntiForgeryToken()

                <div class="modal-body" id="frmConfirm">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)

                        @*<partial name="_PartialCreate" />*@
                        @*@Html.Partial("_PartialCreate")*@
                        @*@await Html.PartialAsync("_PartialCreate")*@

                        @*@Html.Partial("~/_PartialCreate.cshtml", new ProjetoNetCoreWebMVC.Models.ViewModels.SellerFormViewModel())*@

                        @*<input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />*@

                        <div class="form-group">
                            <label asp-for="Seller.Name" class="control-label"></label>
                            <input asp-for="Seller.Name" class="form-control" />
                            <span asp-validation-for="Seller.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Seller.Email" class="control-label"></label>
                            <input asp-for="Seller.Email" class="form-control" />
                            <span asp-validation-for="Seller.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Seller.BirthDate" class="control-label"></label>
                            <input asp-for="Seller.BirthDate" class="form-control" />
                            <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Seller.BaseSalary" class="control-label"></label>
                            <input asp-for="Seller.BaseSalary" class="form-control" />
                            <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Seller.DepartmentId" class="control-label"></label>
                            <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default btn-sm create" data-toggle="modal" data-target="#modal" />
                            <!--<button type="button" data-save="modal"--> @*data-toggle="modal" data-target="#modal"*@ <!--class="btn btn-default btn-sm">Create</button>-->
                            <input type="button" value="Cancel" class="btn btn-danger btn-sm" data-dismiss="modal" />
                        </div>
                    </div>
                </div>
            </form>
        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {

            $(".create").click(function () {
                var $form = $('frmCreate');
                $form.validate();
                if (!$form.valid()) {
                    return false;
                }
                //$("#modal").load("/Sellers/Create", function () {
                //    $("#modal").modal("show");
                //})
            });

            //$.validator.unobtrusive.parse("#frmCreate");
            //var form = $("#frmCreate").closest("form");
            //form.removeData('validator');
            //form.removeData('unobtrusiveValidation');
            //$.validator.unobtrusive.parse(form);
        }

    </script>

}
