@model ProjetoNetCoreWebMVC.Models.Seller

@{ ViewData["Title"] = "Details"; }

@*<h2>@ViewData["Title"]</h2>*@

<!-- Modal -->
<div class="modal fade" id="sellerDetails" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BaseSalary)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BaseSalary)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department.Name)
                </dd>

            </dl>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
